$max_width:1100px;
$header-height: 6rem;
$section-height: 100vh;


//paleta de colores
:root {
    --color-border: #777;
    --color-letter: black;
    --color-section-back: #8b97a1;
}

//breakpoints
$breakpoints: (w: 960px);

// Variables de apilamiento (z-index)
:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

// Variables de tipografía
:root {
    --h1-font-size: 3rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --body-font-size: .9rem;
    --small-font-size: .75rem;

    @include mq(w) {
        --h1-font-size: 5rem;
        --h2-font-size: 2rem;
        --h3-font-size: 1.25rem;
        --body-font-size: 1rem;
        --small-font-size: .8rem;
        --big-font-size: 1.5rem;
    }
}